<!DOCTYPE html>
<html lang="en">
    <%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/css/album.css">
<body>
    
    <%- include('../components/nav.ejs') %>
    
    <div class="content">
        <div class="menu">
            <a class="back" href="/albums"><img src="/left-arrow.svg" alt="back arrow"></a>
            <div class="title"><%= album.title %></div>
            <div class="tools">
                <div class="presentation-button">Presentation</div>
            </div>
        </div>
        
        <div class="album-content">
            <% pictures.forEach(picture => { %>
                <div class="picture-container">
                    <p><%= picture.title %></p>
                    <div class="image-container">
                        <div class="rating">
                            <% for( let index = 0; index < picture.rating; index++ ) { %>
                                <img icon src="/star-icon.svg">
                            <% } %>
                        </div>
                        <% if (picture.imgLoRes) { %>
                            <img class="image" data-object="<%= JSON.stringify(picture) %>" data-id="<%= picture.id %>" src="/<%= picture.imgLoRes ? picture.imgLoRes : "no-image-available.svg" %>" alt="no image available">
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="presentation-container">
        <div class="presentation-bar">
            <div class="presentation-close">
                <img src="/close.svg" alt="close presentation">
            </div>
            <div class="presentation-title">Titel</div>
            <div class="presentation-tools">
                <ul>
                    <li><a href="#">test</a></li>
                    <li><a href="#">mm</a></li>
                </ul>
            </div>
        </div>
        <div class="presentation-content">
            
            <div class="presentation-previous"><img src="/left-arrow.svg" alt=""></div>
            <div class="presentation-image-container">
                <img src="" alt="">
            </div>
            <div class="presentation-next"><img src="/right-arrow.svg" alt=""></div>
        </div>
    </div>

    <script>
        const allPictures = <%- JSON.stringify(pictures) %>;
    </script>
    <script src="/js/album.js"></script>

</body>
</html>