<!DOCTYPE html>
<html lang="en">
    <%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/css/presentation.css">
<body>
    
    <%- include('../components/nav.ejs') %>

    <div class="content">

        <div class="close">
            <a href="/albums/<%= album.id %>"><img src="/close.svg" alt="close presentation"></a>
        </div>

        <% if(page > 0) { %>
            <div class="previous"><a href="/albums/presentation/<%= album.id %>/<%= Number(page)-1 %>"><img src="/left-arrow.svg" alt=""></a></div>
        <% }else { %>
            <div></div>
        <% } %>
        <div class="image-container">
            <img src="/<%= pictures[page].imgHiRes %>" alt="">
        </div>
        <% if(page < pictures.length-1) { %>
            <div class="next"><a href="/albums/presentation/<%= album.id %>/<%= Number(page)+1 %>"><img src="/right-arrow.svg" alt=""></a></div>
        <% }else { %>
            <div></div>
        <% } %>
    </div>

    <script src="/js/presentation.js"></script>

</body>
</html>